:root {
  /*Primarios*/
  --DarkCyan: hsl(185, 75%, 39%);
  --VeryDarkBlue: hsl(229, 23%, 23%);
  --DarkGrayishBlue: hsl(227, 10%, 46%);
  /*Neutrales*/
  --DarkGray: hsl(0, 0%, 59%);

  /*Fonts*/
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
